
* {
  box-sizing: border-box;
}


body {
  font-family: '游ゴシック体';
  }
  
li {
    list-style: none;
}

a {
  text-decoration: none;
}
  
header {
  background-color: rgba(45, 53, 54, 0.9);
  color: white;
  height: 65px;
}

  .header-logo {
    float : left;
    font-family: '游明朝体';
    margin-right: 30px;
}

  .header-logo img {
    height: 65px;
  }
  
  header .clear {
    clear: right;
  }

  .clear {
    clear: both;
  }

.menu-icon {
  float: right;
  font-size: 25px;
  padding: 21px 20px;
  display: none !important;
}

  .header-list li{
    color: white;
    float: left;
    line-height: 65px;
    padding: 0px 25px;
    font-family: '游ゴシック体';
    text-decoration: none;
    display: block;
    transition: all 0.5s;
    width: 150px;
    text-align: center;
    cursor: pointer;
  }

  .header-list li:hover{
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
    cursor: pointer;
  }

  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0px 25px;
    color: white;
    display: block;
    text-decoration: none;
  }


.main h1 {
  margin: 100px 50px 50px 50px;
  padding-bottom : 15px;
  font-weight: normal;
  color: #5f5d60;
  border-bottom : 2px solid #dee7ec;
}

.message_contents {
  margin: 40px auto;
  width: 80%;
}

.message_content {
  background-color: rgb(236, 236, 236);
  padding: 10px 50px 40px 50px;
  color: #5f5d60;
}

.message_content h2 {
  float: left;
  font-weight: normal;
  margin-right: 50px;
}

.message_content time {
  line-height: 65px;
  font-size: 14px;
  color: #b2b1b3;
}

.message_content p {
  border-top : 1px solid #b2b1b3;
  padding-top: 30px;
}



  
  .footer {
    background-color: #233523;
    color : #fff;
    padding : 40px;
  }

  .footer-logo {
    font-size : 32px;
    font-family: '游明朝体';
    float : left;
    margin-right: 60px;
    padding-bottom: 100px
  }

  .footer-list {
    font-family: '游ゴシック体';
    margin-left: 100px;
  }

  .footer-list li {
    padding-bottom : 15px;
  }